<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
</head>
<body>

	<h1>Login Page</h1>
	<br>
	<form>
		<label>Username</label>
		<input type="text" name="username" id="username" required>
		<button type="button" onclick="login()">Login</button>
	</form>
	
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		const BASE_URL = "http://localhost:3000";


		async function login(){
			const usernameInput = document.getElementById("username").value;

			console.log(usernameInput)

			const response = await axios.post(`${BASE_URL}/api/user/signin`, {usernameInput});

			if(response.status == 200) window.location.href = `${BASE_URL}/${response.data.id}`;
		}
	</script>

</body>
</html>